.dropdown {
  width: 100%;
  max-height: 300px;
  position: relative;
}

.dropdown-container {
  position: relative;
}

.dropdown-selected-container {
  margin-bottom: 12px;
  border: 1px solid #26272B;
  border-radius: 4px;
  cursor: default;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.selected {
  border: 1px solid #f5f5f5;
}

.selected-multi-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.selected-multi-value {
  display: flex;
  font-size: 14px;
  background-color: #5D6570;
  margin: 6px 0;
  padding-right: 0px;
  align-items: center;
  border-radius: 2px;
}

.selected-value {
  padding-right: 4px;
  padding-left: 6px;
  font-size: 14px;
}

.selected-value-remove {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.selected-value-remove:hover {
  background-color: rgb(255, 189, 173);
}

.selected-value-remove:hover .selected-value-remove-icon path {
  fill: #de350b;
}

.dropdown-search {
  width: auto;
  /* max-width: 150px; */
  padding: 0 10px;
  border: none;
  cursor: default;
  background-color: transparent;
  font-size: 14px;
  border: 1px solid yellow;
}

.dropdown-search:focus {
  outline: none;
}

.dropdown-utils {
  display: flex;
  align-items: center;
}

.dropdown-utils-remove {
  display: flex;
  padding: 8px;
}

.dropdown-utils-remove:hover {
  background-color: rgb(93, 101, 112, 0.5);
}

.dropdown-utils-remove-icon {
  width: 18px;
  height: 18px;
  z-index: -1;
}

.dropdown-utils-separate {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: red;
  align-self: stretch;
}

.dropdown-utils-select {
  display: flex;
  padding: 9px;
  z-index: 99999;
}

.dropdown-utils-select:hover {
  background-color: rgb(93, 101, 112, 0.5);
}

.dropdown-utils-select-icon {
  width: 14px;
  height: 14px;
  z-index: -1;
}

/* .dropdown-utils-select-icon {
  position: absolute;
} */

.select-list {
  width: 100%;
  background-color: #121212;
  border: 1px solid #26272B;
  padding: 6px 0;
  list-style-type: none;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  display: flex;
  max-width: 600px;
  max-height: 300px;
  top: auto;
}

.select-list-item {
  width: 100%;
  padding: 6px 10px;
  cursor: default;
}

.select-list-item:hover {
  background-color: #26272B;
}

/* Responsive */

@media (max-width: 470px) {
  .dropdown-selected-container {
    flex-direction: column;
    padding-bottom: 6px;
  }

}

/* 

trocar sdropdown-container por dropdown-container
*/