.company-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    padding: 0 4%;
    padding-bottom: 4%;
}

.company-section-title {
    text-align: center;
    padding: 8px;
}

.company-list-text {
    color: #838896;
    padding: 12px 0;
}

.company-list-agroup {
    width: 50%;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.company-list-search-container {
    padding-bottom: 20px;
}

.company-list-bar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.company-list-order {
    width: 50%;
}

.select-list-container #companySelectListOrder {
    min-width: 200px;
}

.company-list-search {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #26272B;
    color: rgba(245, 245, 245, 0.4);
    font-size: 14px;
    background-color: rgba(245, 245, 245, 0.1);
}

.company-list-search::placeholder {
    color: rgb(245, 245, 245, 0.4);
    font-size: 16px;
}

.company-list-search:focus {
    outline: 1px solid #26272B;
}

/* =================== Responsive =================== */

@media (max-width: 760px) {
    .company-list {
        justify-content: space-between;
    }

    .company-list-agroup {
        width: 100%;
    }

    .company-list-search {}
}

@media (max-width: 470px) {
    .company-list {}
}