.company-item {
    min-width: 160px;
    max-width: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #26272B;
    border-radius: 24px;
}

.company-content {
    padding: 12px;
}

.logo-container {
    padding: 5px 5px 0 5px;
}

.company-item .logo {
    width: 100%;
    max-height: 171.1px;
    border-bottom-left-radius: 16px;
    border-end-end-radius: 16px;
    border-radius: 16px;
}

.company-title {
    font-size: 16px;
    color: #ffffff;
}

/* .job-type-container {
    border: 1px solid red;
    background-color: rgb(93, 101, 112, 0.2);
    padding: 0 2px;
} */

.job-type {
    font-size: 14px;
    font-weight: bold;
    color: #838896;
}

.company-address-container {
    width: auto;
    display: flex;
    align-items: center;
}

.company-address-icon {
    width: 10px;
}

.company-address {
    font-size: 12px;
    color: #838896;
    padding: 5px 0;
    margin-left: 4px;
}

.social-medias {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

@media (max-width: 470px) {
    .company-item {}

    .company-item .logo {
        width: 100%;
        max-height: 160px;
        border-bottom-left-radius: 16px;
        border-end-end-radius: 16px;
        border-radius: 16px;
    }

    .company-title {
        font-size: 24px;
    }

    .job-type {
        font-size: 16px;
    }

    .company-address {
        font-size: 14px;
        color: #838896;
        padding: 5px 0;
    }

    .social-media svg {
        width: 80px;
    }
}