.company-item {
    width: 30%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #26272B;
    border-radius: 24px;
}

#companyRow.company-item {
    width: 30%;
    max-width: 100%;
    flex-direction: row;
}

.company-content {
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#companyRow .company-content {
    width: 100%;
    max-height: 150px;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.company-content-information {
    display: flex;
    flex-direction: column;
}

.logo-container {
    padding: 5px 5px 0 5px;
}

#companyRow .logo-container {
    width: 100px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    object-fit: cover;
    max-height: 171.1px;
    border-bottom-left-radius: 16px;
    border-end-end-radius: 16px;
    border-radius: 16px;
}

#companyRow .logo {
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.company-title {
    font-size: 16px;
    color: #ffffff;
}

.company-job-type-container {
    padding-top: 5px;
}

.company-job-type {
    font-size: 14px;
    font-weight: bold;
    color: #838896;
}

.company-address-container {
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.company-address-icon {
    width: 10px;
}

.company-address {
    font-size: 12px;
    color: #838896;
    margin-left: 4px;
}

.company-content-social-medias {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 6px;
}

.social-media {
    padding-left: 2px;
}

#companyRow .company-content-social-medias {
    align-items: end;
    flex-wrap: wrap-reverse;
    gap: 2px;
    justify-content: space-between;
}

/* ============= Responsive =============*/

@media (max-width: 1280px) {
    #companyRow.company-item {
        width: 45%;
    }
}

@media (max-width: 700px) {
    .company-item {
        max-width: 100%;
        width: 45%;
    }

    #companyRow.company-item {
        width: 100%;
    }

    #companyRow .company-content {
        gap: 6px;
    }

    .company-title {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 470px) {
    .company-item {
        width: 47%;
    }

    #companyRow.company-item {
        width: 100%;
    }

    #companyRow .company-content-social-medias {
        flex-wrap: wrap-reverse;
        flex-direction: column;
        align-items: end;
    }

    .logo {
        width: 100%;
        max-height: 160px;
        border-bottom-left-radius: 16px;
        border-end-end-radius: 16px;
        border-radius: 16px;
    }

    .company-job-type {
        font-size: 16px;
    }

    .company-address {
        font-size: 14px;
        color: #838896;
        padding: 5px 0;
    }
}

@media (max-width: 400px) {
    .company-item {}

    .logo {
        width: 100%;
        max-height: 160px;
        border-bottom-left-radius: 16px;
        border-end-end-radius: 16px;
        border-radius: 16px;
    }

}