.banner-container {
    padding-bottom: 4%;
}

.banner-content {
    position: relative;
}

.banner-circle-container {
    display: flex;
    justify-content: center;
}

.banner-circle {
    width: 43%;
    object-fit: cover;
}

.banner-information-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 4%;
    top: 0;
}

.banner-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-subtitle {
    color: rgb(255, 255, 255, 0.7);
    font-size: 56px;
}

.banner-title {
    font-size: 64px;
}

.banner-curve {
    width: 200px;
}

.banner-text {
    color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding: 18px 0;
    font-size: 18px;
}

.banner-start {
    height: 40px;
    width: 200px;
    background-color: rgb(255, 255, 255, 0.9);
    border: none;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
    color: #26272B;
}

.banner-start:hover {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 1500px) {
    .banner-circle {
        width: 70%;
        object-fit: cover;
    }

}

@media (max-width: 760px) {
    .banner-circle {
        width: 80%;
    }

    .banner-start {
        width: auto;
        font-size: 16px;
        padding: 0 24px;
    }

    .banner-subtitle {
        font-size: 24px;
    }

    .banner-title {
        font-size: 32px;
    }

    .banner-curve {
        width: 150px;
    }

    .banner-text {
        font-size: 16px;
        padding: 12px 0;
    }
}